<section>
    <button id="refresh" (click)="loadSpotData()"style="display: inline-block; vertical-align: middle; padding-right: 10px; text-align: right; ">
        <h4 style="display: inline-block; padding-bottom: 0px; margin-bottom: 2px; padding-right: 5px; color: rgba(24, 24, 24, 0.871);">Refresh</h4>
        <img src="media/reload.png" alt="Refresh" style="width: 24px; height: 22px; margin:0px 0px 0px 0px;  padding: 10px 0px 0px 5px; " >
    </button>
</section>
<section id="charts-wrapper">
    <section id="wait-times" class="chart-section">
        <div class="chart-title"></div>
        <h2 style="display: inline-block; vertical-align: middle; padding-left: 15px;">Restaurant</h2>
        <h2 id="current_WaitTime" class="count" style="display: inline-block; vertical-align: middle; padding-right: 10px; width: 2em; text-align: right;">NaN</h2>
        <img class="svg" src="media/seat.svg" alt="Clock Icon" style="display: inline-block; width: 35px; height: 35px; vertical-align: middle; padding-bottom: 0px;padding-right: 5px;">
        <div class="chart-container">
            <canvas id="restaurantSizeChart"></canvas>
        </div>
    </section>


    <section id="line-sizes" class="chart-section">
        <div class="chart-title"></div>
            <h2 style="display: inline-block; vertical-align: middle; padding-left: 15px;">Waiting Area</h2>
            <h2 id="current_LineSize" class="count" style="display: inline-block; vertical-align: middle; padding-right: 10px; width: 2em; text-align: right;">NaN</h2>
            <img class="svg" src="media/users.svg" alt="Crowd Icon" style="display: inline-block; width: 45px; height: 45px; vertical-align: middle; padding-bottom: 8px;">
        
        <div class="chart-container">
            <canvas id="lineSizeChart"></canvas>
        </div>
    </section>

    <section id="restaurant-capacity" class="capacity-section">
        <div class="capacity-title">
            <h2 style="display: inline-block; vertical-align: middle; padding-left: 5px; ">Traffic</h2>
            <h2 id="current_Capacity" class="count" style="display: inline-block; vertical-align: middle; padding-left: 5px; width: 2em; text-align: right;">NaN</h2> 
            <img class="svg" src="media/seat.svg" alt="Chair Icon" style="display: inline-block; width: 40px; height: 40px; vertical-align: middle; ">
        </div>
        <div class="capacity-container">
            <div id="capacity-bar" class="capacity-bar"></div>
        </div>
        <div class="capacity-axis">
            <span>0%</span>
            <span>25%</span>
            <span>50%</span>
            <span>75%</span>
            <span>100%</span>
        </div>
    </section>
</section>