* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #aed3f87b;
}
body {
    background-color: #aed3f87b; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 950px;
    margin: auto;
    padding: 0 20px;
    display: flex; /* Added */
    flex-direction: column; /* Added */
    align-items: center; /* Added */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.nav-links a {
    color: rgb(251, 210, 174);
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding to control the size of the buttons */
    border-radius: 5px; /* Adds rounded corners to your buttons */
    background-color: #ec5814d4; /* Background color for your buttons */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
    margin: 0 5px; /* Optional: Adds space between buttons */
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: rgb(251, 210, 174);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.nav-links a:hover {
    background-color: #cf4015; /* Darker shade for hover effect */
    color: #ffffff; /* Change text color on hover if needed */
}

.main-content {
    padding: 0px 0;
}

* {box-sizing: border-box}

/* Style the tab */
/* Hide all tabs by default */
.tab {
    display: none;
}

/* Style for the tab content containers */
.card-container {
    padding: 20px;
    background-color: #45879800;
    border: 1px solid #ccc;
    box-shadow:  0 5px 15px rgba(0,0,0,0.1); ;
    border-radius: 5px;
    margin-top: 10px;
}

/* Style for the tab buttons */
#tabs {
    margin-bottom: 10px;
}

#tabs .tab-link {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

#tabs .tab-link:hover {
    background-color: #ddd;
}
